.row{
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-group1 {
  width: 400px;
  margin: 50px auto;
  /* margin-bottom: 100px; */
  font-size: 20px;
  
}

.inputE {
  margin-top: 20px;
  margin-bottom: 20px;
 
  
}
#realContent {
  border: 1px solid black;
  padding: 30px;
  height: auto;
  border-radius:35px;
  
}

#realContent {
  margin: 0 auto;
}

.btn-primary {
  /* margin-top: 20px; */
}
