.containerinfo{
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;

    }

.aboutus{
        padding: 40px !important;
        width: 100%;
        background-color: #f5f5f5;
       
    }