.form-group {
  width: 450px;
  margin: 0 auto;
  border-radius:35px;
  margin-bottom:"1000px"
  
}
.margin {
  margin: 75px auto;
  padding: 60px;
  border-Radius:"20%";
  
}
.btn {
  margin-top: 20px;
}
.inputE {
  margin-top: 20px;
  margin-bottom: 20px;
  
}

image {
  width: 30px;
  height: 30px;
}

#realContent {
  border: 1px solid black;
  padding: 30px;
  height: auto;
}
